html {
  min-height: 100%;
}
body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: hsla(220, 25%, 20%, 1);
  color: white;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 20px;
}

.footer {
  position: fixed;
  height: 50px;
  left: 0;
  right: 0;
  bottom: 0;
}

.btn {
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}
