html {
  min-height: 100%;
}
body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #a7c4bc;
  color: white;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 4.6% 1em 4.6%;
}

.footer {
  position: relative;
  height: auto;
  margin-top: 2vh;
}

.btn {
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.container {
  box-sizing: border-box;
  display: inline-block;
  width: 90%;
  height: 80vh;
  overflow: auto;
  border: black solid 2px;
  border-radius: 10px;
  background-color: #5e8b7e;
}
